*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  margin-bottom: 15px;
  background: #000000;
  color: #ffffff;
  padding: 10px;
}
body {
  font-family: Arial, Helvetic
  color: #333;
  line-height: 1.4;
}
#main {
  float: right;
  width: 69%;
}
#sidebar {
  float: left;
  width: 30%;
  background: #000000;
  color: #ffffff;
  padding: 15px;
}

@media only screen and (max-width:480px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    margin-bottom: 15px;
    background: #000000;
    color: #ffffff;
    padding: 10px;
  }
  body {
    font-family: Arial, Helvetic
    color: #333;
    line-height: 1.4;
  }
  #main {
    float: right;
    width: 69%;
  }
  video{
    height:220px;
    position:fixed;
    left:0px;
    bottom:0px;
    z-index: 99;

  }
  #sidebar {
    float: left;
    width: 30%;
    background: #000000;
    color: #ffffff;
    padding: 15px;
  }
}
  
@media (min-width:480px) and (max-width:1180px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    margin-bottom: 15px;
    background: #000000;
    color: #ffffff;
    padding: 10px;
  }
  body {
    font-family: Arial, Helvetic
    color: #333;
    line-height: 1.4;
  }
  #main {
    float: right;
    width: 69%;
  }
  video{
    height:500px;
    position:fixed;
    left:0px;
    bottom:0px;
    z-index: 99;
  }
  #sidebar {
    float: left;
    width: 30%;
    background: #000000;
    color: #ffffff;
    padding: 15px;
  }
}